    .top{
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 5px #EDEDED;
    z-index:99;
    position: fixed;
    top:0px;
    box-shadow: 0px 5px 10px #888888;
    }
    .nav-div{
        width: 100%;
        height:52px;
        background:white;
        display: flex;
        border-bottom: solid 2px steelblue;
        margin-top: 10px;
    }
    .title{     
        width: 135px;
        height: 40px;
        font-size: 20px;
        text-align: center;
        padding-top:13px; 
        font-family: 微软雅黑;
        color:#404040;
        margin-left: 0px;
        margin-top: 0px;
    }
.tr{
    width: 135px;
    height: 52px;
    border-left:solid 2px steelblue;/*外框颜色*/
    border-top:solid 2px steelblue;
    border-right:solid 2px steelblue;
    border-bottom:solid 2px white;
    position: absolute;/*位置:绝对*/
    left: 0px;/*框左初始位置为0*/
}
    .xiangqing{
        width: 100%;
        background: white;
    }
    .xiangqing img{
        width: 90%;
        margin-left: 5%;
        margin-top:10px;
    }
    ul,li{ padding:0;margin:0;list-style:none;list-style: none;}
    .xiangqing li{
        margin-top:10px ;
        font-size:14px;
    }
    .xiangqing ul{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px ;
    }
    .download{
        padding-top:20px;
        width: 100%;
        background: white;
        padding-bottom:20px;
    }
    .jisuan{
        width: 100%;
        background: white;
    }
    .d-head{
        background:steelblue;
        width: 96%;
        height: 30px;
        margin: 0 auto;
        display: flex;
        font-size: 17px;
        color: white;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
        border-bottom: solid 1px #ccc;
    }
    .d-body{
        background:white;
        width: 96%;
        height: auto;
        margin: 0 auto;
        display: flex;
        font-size: 12px;
        color: back;
        border-bottom: solid 1px #ccc;
        margin-top: 10px;   
    }
   .d-text{
    margin-bottom:6px;
    font-size: 15px;
   }
   a{color: black;text-decoration: none;}
   .NumText{
    width:50px;
    height: 25px;
    background: #404040;
    opacity: 0.8;
    border-radius: 30px;
    padding-top: 4px;
    margin-top: -66px;
    float: right;
    margin-right: 10px;
        }
.numcode{
    font-size: 14px;
    float: left;
    color: white;
    }
.tbody{
    width: 100%;
    margin: 10px 0px;
}
.thead{
    width: 100%;
    height: 40px;
    background:#ccc;
    display: flex;
    border:solid 1px white;
}
.content{
    display: flex;
    width: 100%;
    height:40px;
}
.t-tite{
    width: 20%;
    padding-top: 6px;
    border-right:solid 1px #ededed;
    border-top:solid 1px #ededed;
    border-left: :solid 1px #ededed;
    text-align: center;
}
.t-text{
    width: 40%;
    text-align: center;
    padding-top: 8px;
    border-right:solid 1px #ededed;
    border-top:solid 1px #ededed;
}


table {
	border-collapse: collapse;
	border-spacing: 0
}

table td {
    padding: 10px;
    font-size: 14PX;
}
#content .paramtable p {
	clear: left;
	margin: 0;
	font-size: 14px;
}

#content .paramtable ul+ul {
	clear: left;
	list-style-image: none;
	height: 24px;
	margin: 0;
	border-top: 1px solid #ddd
}

#content .paramtable li {
	float: left;
	list-style-image: none;
	margin: 3px 0;
	padding: 5px 0 5px 20px;
}

#content .paramtable .left {
	width: 25%
}

.paramtable {
	border-bottom: 0px solid #ddd
}
