
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	padding-top: 50px;
	font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
	background: white;
}

ul {
	list-style-type: none;
}

a {
	color: #b63b4d;
	text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
h1 {
 	color: #FFF;
 	font-size: 24px;
 	font-weight: 400;
 	text-align: center;
 	margin-top: 80px;
 }

h1 a {
 	color: #c12c42;
 	font-size: 16px;
 }

 .accordion {
 	width: 100%;
 	background: #FFF;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding-top: 20px;
	padding-left:20px;
	color: #4D4D4D;
	font-size: 20px;
	font:宋体;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	height: 60px;
}

.accordion li:last-child .link {

}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 25px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
	margin-top: 5px;
	margin-right: 20px;
}

.accordion li.open .link {

	}

.accordion li.open i {

}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	font-size: 14px;
 }

 .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }



 .submenu a:hover {
 	color: #FFF;
 }
/*index*/
.box{
    background: skyblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    right: 0;
    bottom: 20%;
    display: none;
    opacity: 0.8;
    margin-right: 8px;
    z-index: 50;
    }
.box img{
    width: 30px;
    height: 30px;
    margin: 9px;
    opacity: 0.8;
}
iframe{position:absolute;z-index: 1}






.top{
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    display: flex;
	position: fixed;
	top:0px;
	box-shadow: 0px 0px 10px #ccc;
	z-index:99;
    }
.shop{
	background: #fff;
	width: 180px;
	height: 50px;
	overflow: hidden;
	position: fixed;
	right: 0;
}
.shop_img{
    width: 35px;
    height: 35px;
    margin:10px 0px;
    margin-left: 110px;
    right: 5px;
    }
.banner{
	display: flex;
	cursor: pointer;
	margin: 10px 0px;
	border-bottom: solid 1px #ccc;
}
.banner img{
	width: 30px;
	margin-left: 5px;
	margin-right: 10px;
}
.banner a{color: black;}
.pic{
  	width:100%;
  	height:500px;
  	margin-top:50px;
  	overflow: hidden;
  }
.icon{
    display: none;
    position: relative;
    right: 0px;
    height: 500px;
  }
 .sub{
 	position: relative;
 	height: 100%;
 }
.goods{
	width: 100%;
	height:130px;
	margin:0 auto;
	display: flex;
	border-bottom: solid 1px #ededed;
}

.goods-waikuang{
	width: 100px;
	height:100px;
	margin-top:16px;
	margin-left:21px;
	border-radius: 10px;
	box-shadow: 0 0 10px #ccc;
}

.goods img{


}

.goods-text{
	display: flex;
	flex-direction:column;
	margin-right:auto;
	margin-left:24px;
	margin-top:25px; 
/*	width:50%;*/
}
.gt1{
	font-size: 17px;
	font-weight: 700;
}
.gt2{
	font-size: 13px;
}
.next{
	height: 60px;
	display: flex;
	margin-top: 2px;
}
.next a{
	color: black;
}
.money{
	color: steelblue;
	font-size: 17px;
	font-weight: 400;
	font: 微软雅黑;
	margin-right: 8px;
}
.next-t{
	display: flex;
	margin-top: 3px;
	margin-left: 2px;
}
.call{
	width: 260px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 30px;
}
.c-top{
	margin-top: 10px;
	display: flex;
}
.c-top img{
    		width: 20px;
    		height: 20px;
    	}
/*指示点*/
.spot{
	height: 13px;
	width: auto;
	position: absolute;
	right:0px;
	display: flex;
	top:520px;
		}
.dian{
	width: 13px;
	height: 13px;
	border-radius:50%;
	margin: 0 5px; 
	border: solid 2px #404040;
	}
.dian-show{
	background: #404040;
	border:none;
}
    .foot{
    	width: 100%;
    	height: 40px;
    	background: #515151;
    }
    .con{
    	width: 100%;
    	margin: 0 auto;
    	position: relative;
    }
    .foot_cop_left{
    	width: 90%;
    	margin: 0 auto;
    	float: none;
    }
    .foot_cop_left i{
    	text-align: center;
    	font-size: 10px;
    	color: #878787;
    	display: block;
    	padding-top: 10px;
    	padding-bottom: 8px;
    	font-style: normal;
    }
    .video{
	width: 100%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom:30px; 
	display: flex;
	justify-content: space-around;
	overflow: hidden;
}
.loading_animation {
    border: 5px solid #0066FF;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    -webkit-animation: 1s loading linear infinite;
    -o-animation: 1s loading linear infinite;
    animation: 1s loading linear infinite;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    z-index: 999;
}


@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}